@using CommonLibrary.Resource
@{
    ViewData["Title"] = Resources.Account_Denied;
}

<header>
    <h1 class="text-danger">@Resources.Account_MainTitle</h1>
    <p class="text-danger">@Resources.Account_ErrorMessage</p>
</header>
